*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    /*Declaro variables CSS con colores principales */
    --color-theme: #00594c;
    --color-active: #5df2d6;
    --color-back-active: #04957d;
    --color-gradient: linear-gradient(to right, var(--color-theme),var(--color-back-active));
}

body{
    height: 100%;
    width: 100%;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button,
a{
    user-select: none;
    -webkit-user-select:none;
}

header{
    border-radius: 0px 0px 40px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color-theme);
    border-bottom: 3px  solid var(--color-active);
}

nav>ul{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

nav li{
    flex: 0 0 auto;
}

nav li a{
    display: block;
    padding:  16px 12px;
    text-align:  center;
    text-decoration: none;
    font-size:lem;
    font-weight: bold;
    color: var(--color-active);
}



nav li.current-page a{
    color: var(--color-theme);
    background-color: var(--color-active);
    pointer-events: none;
}

main{
    margin-top: 90px;
    overflow: auto;
    padding: 16px;
    padding-bottom: 60px;
    height: calc(100%-120px);
}
h1{
    text-align: center;
    margin: 0;
    color: white;
}

h1>img{
    width: 70px;
    vertical-align: middle
}

h2{
    color: var(--color-theme);
    margin: 16px 0;
    text-align: center;
}

h3{
    color: var(--color-theme);
    margin: 8px 0;
}

main section{
    display: flex;
    justify-content: space-around;
}

footer{
    position: fixed;
    bottom: 0px ;
    background: var(--color-theme);
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px  solid var(--color-active);
}

footer p{
    font-size: small;
    color: rgb(255, 255, 255);
}
main p{
    margin-bottom: 16px;
}

/* Estilos pantallas mayores a 400px*/
@media (min-width:400px) {
    main{
        padding-left: 10%;
        padding-right:  10%;
    }
    footer{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}