@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&dis play=swap');
*{
  font-family: 'Raleway', sans-serif;
}
html,body {
  margin: 5;
  padding: 5;
}


.container {
  width: 50%;
  padding: 60px 0px;
}

/* MENU: NAVBAR/HEADER */

nav {
  background-color: #34495E;
}

nav ul {
  display: flex;
  text-align: center;
  margin: 0px;
  padding: 20px;
  list-style-type: none;
}

nav ul li {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 25%;
}

nav ul li a {
  color: #eeeeee;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
  display: block;
}
nav ul li a:hover{
  background-color: rgba(131, 145, 146, 0.3);
}

/* SECTION MAIN IMAGE */

#section-main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  background-image:url("../Imagen/I1.jpg");
  background-size: cover;
}

#section-main-image h1 {
  font-size: 3cm;
  opacity:0.5;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}
#section-main-image h2{
  color: white;
  text-shadow:2px 2px 5px #000; ;
}

/* SECTION COFFEE */

#section-tecnologia {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
#section-tecnologia h2{
  margin-top: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
#section-tecnologia p{
text-align: left;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 3);
}


.product {
  padding: 0 15px;
}

.product img {
  width: 80px;
}
.product h3{
  font-family: Arial;
  font-size: 15px;
  color: #21618C;
}






/* FOOTER CONTACT */

#footer-contact {
  background-color:#566573;
  color:  #eeeeee;
  display: flex;
  justify-content: center;
}

#footer-contact .contact-data {
  display: flex;
  justify-content: space-between;
}

.contact-form form {
  margin-left: 50px;
  text-align: right;
}

.contact-form form .form-control {
  padding: 10px 0;
}

.contact-form form .form-control label {
  margin-right: 15px;
  border:0.3px ;
  border-radius: 3px #34495E;
}

.contact-form form button {
  margin-top: 15px;
  color: #212F3C;
  padding: 10px 30px;
}